/* Font */

@import url('https://fonts.googleapis.com/css2?family=Rokkitt:wght@300;400;500;600;700&display=swap');


.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  font-family: 'Rokkitt', serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: white;
}





/* Card */

.card {

  --bg-filter-opacity: 0.5;
  background-image: linear-gradient(rgba(0,0,0,var(--bg-filter-opacity)),rgba(0,0,0,var(--bg-filter-opacity))), var(--bg-img);
  height: 10em;
  width: 15em;
  font-size: 1.5em;
  color: white;
  border-radius: 1em;
  padding: 1em;
  /* margin: 2em; */
  display: flex;
  align-items: flex-end;
  background-size: cover;
  background-position: center;
  box-shadow: 0 0 5em -1em black;
  position: relative;
  overflow: hidden;
  border: 0.2rem solid #ccc;
  text-decoration: none;
}

.card-dark {}

.card-header {}

.card-footer {}

/* Others - not classified yet */

.container {
  /* display:flex;
  flex-direction: column; */
  margin: 1rem
}



.btn {
  margin: 1rem
}

.d-flex {
  display: flex
}

.fs-xl {
  font-size: x-large;
}



/* Title and subtitle */

.title {
  font-size: 3.75rem;
  font-weight: 500;
  margin: 3rem 0;
}

.title-main {
  font-size: 5rem;
  font-weight: 600;
  margin: 4rem 0;
}

.subtitle {
  font-size: 2.5rem;
  font-weight: 400;
  margin: 5rem 0;
}

.d-flex {
  display: flex;
}


/* Margins */

.margin-1 {
  margin: 1;
}
.margin-2 {
  margin: 2;
}
.margin-3 {
  margin: 3;
}
.margin-4 {
  margin: 4;
}

/* Top */
.mt-1 {
  margin-top: 1rem;
}
.mt-2 {
  margin-top: 2rem;
}
.mt-3 {
  margin-top: 3rem;
}
.mt-4 {
  margin-top: 4rem;
}

/* Bottom */
.mb-1 {
  margin-bottom: 1rem;
}
.mb-2 {
  margin-bottom: 2rem;
}
.mb-3 {
  margin-bottom: 3rem;
}
.mb-4 {
  margin-bottom: 4rem;
}

